<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>

<form action="/requestMessageToGpt" method="post" id="requestForm">

    <input type="text" name="requestMessage" id="requestMessage" placeholder="메시지를 입력하세요">
    <input type="button" value="send" onclick="getResponseMessage()">

</form>
<div id="responseMessage"></div>

</body>
</html>

<script type="text/javascript">

    function getResponseMessage() {
        const requestMessage = $("#requestMessage").val();

        $.ajax({
            type: "POST",
            url: "/requestMessageToGpt",
            data: {
                requestMessage: requestMessage
            },
            success: function (data) {
                if (data != null) {
                    $("#responseMessage").text(data);
                }
            }
        });
    }
</script>